{% extends "layout.html" %}

{% block content %}
<br>
<div>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">
                <i class="bi bi-calendar2-event-fill"></i>
                <strong>添加用户</strong>
            </li>
            <li class="list-group-item">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label>{{ field.label }}</label> {# .label表示verbose_name字段 #}
                            {{ field }}
                            <span style="color: red">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}
                <div style="margin: 10px">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
                </form>

            </li>
        </ul>
    </div>
</div>

{% endblock %}